.landing_image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background-position: center;
  background-image: url('../assets/server_room.jpg');
  background-size: cover;
  z-index: -1;
}

@media (max-width: 950px) {
  .footer {
  display: sticky;
  height: 5rem;
  background-color: $main-red;
  }
}

.contact-a {
  font-size: .8rem;
  font-weight: bold;
  color: $main-red;
}
.contact-b {
  font-size: .8rem;
  margin: 0;
}
.contact-c {
  font-size: 1rem;
  font-weight: bold;
  color: $main-red;
}
ul h2 {
  font-size: 1rem;
  font-weight: bold;
}