@import url('https://fonts.googleapis.com/css?family=Barlow|Cantata+One');

$main-red: #A13029;
$main-white: #FFFFFF;
$main-grey: #787878;
$comp-grey: #F0F0F0;
$main-blue: rgb(71, 117, 139);

$body-font: 'Barlow';
$title-font: 'Cantata One';