@import url('https://fonts.googleapis.com/css?family=Barlow|Cantata+One');

$main-red: #A13029;
$main-white: #FFFFFF;
$main-grey: #808080;
$main-blue: rgba(71, 117, 139, 0.8);

$body-font: 'Barlow';
$title-font: 'Cantata One';