@import '../../styles/_vars';

nav {
  background: $main-white;
  visibility: hidden;
  margin-left: -50rem;
}

.hamburgeropen ~ nav {
  height: 100%;
  visibility: visible;
  margin-left: 0;
}

html span {
  display: block !important;
}

ul {
  display: none;
}

.true + ul {
  display: block;
  background: purple;
}