@import '../../styles/_vars';

@media (max-width: 950px) {
  nav {
    cursor: pointer;
    text-transform: uppercase;
    background: $main-white;
    display: none;
    padding: 2rem;
    box-shadow: inset 0 0 .15rem .015rem rgba(0,0,0,.25);
  }

  .hamburgeropen ~ nav {
    display: block;
  }

  .nodes {
    color: $main-red;
    font-size: 1.8rem;
    font-weight: bold;
    color: $main-grey;
    padding: .5rem 0;
  }
}

@media (min-width: 950px) {
  nav {
    cursor: pointer;
    text-transform: uppercase;
    background: $main-white;
    padding-top: 2rem;
    padding-left: 2rem;
    width: 10rem;
    display: block;
    position: fixed;
    height: 100%;
    z-index: 1;
    top: 4rem;
    left: 0;
  }

 .nodes {
    font-size: 1rem;
    font-weight: bold;
    color: $main-grey;
    padding: .5rem 0;
  }
  .app  {
    margin-left: 11rem;
  }
}

// PC BROWSER
