@import '../../styles/_vars';

nav {
  cursor: pointer;
  text-transform: uppercase;
  background: $main-white;
  display: none;
  padding: 1rem 1rem 1rem 2rem;
}

.hamburgeropen ~ nav {
  height: 100%;
  margin-left: 0;
  display: block;
}

nav p {
  font-size: 1.8rem;
  font-weight: bold;
  color: $main-grey;
}

nav li {
  font-size: 1.8rem;
  font-weight: bold;
  color: $main-red;
  font-style: italic;
}

nav ul {
  display: none;
}

nav .true + ul {
  display: block;
  color: $main-red;
}